<% include partials/header.ejs %>
        <div class="container">
            <% if (message != '') { %>
            <p class="text-center text-danger"><%= message %></p>
            <% } %>
            <form class="add-player-form" action="add" method="post" enctype="multipart/form-data">
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <input type="text" class="form-control" name="first_name" id="first-name" placeholder="First Name" required>
                    </div>
                    <div class="form-group col-md-4">
                        <input type="text" class="form-control" name="last_name" id="last-name" placeholder="Last Name" required>
                    </div>
                    <div class="form-group col-md-4">
                        <input type="text" class="form-control" name="username" id="username" placeholder="Username" required>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <input type="number" class="form-control" name="number" id="number" placeholder="Number" required>
                    </div>
                    <div class="form-group col-md-6">
                        <select id="position" name="position" class="form-control" required>
                            <option selected disabled>Choose position</option>
                            <option>Goalkeeper</option>
                            <option>Defender</option>
                            <option>Midfielder</option>
                            <option>Forward</option>
                        </select>
                    </div>
                    <div class="col-md-12">
                        <label for="player-img"><b>Player Image</b></label><br>
                        <input type="file" name="image" id="player-img" class="" required>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary float-right">Add Player</button>
            </form>
        </div>
    </div>
</body>
</html>